html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
figcaption,
figure,
main {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
audio,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details,
menu {
    display: block;
}
summary {
    display: list-item;
}
canvas {
    display: inline-block;
}
template {
    display: none;
}
[hidden] {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
body,
h1,
h2,
h3,
div,
img,
section,
a,
p {
    margin: 0;
    padding: 0;
}

/* import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");

html {
    font-size: 62.5%;
}

.App {
    /* background-color: #f1e4e2; */
    /* background-image: linear-gradient(to left bottom, #ffffff, #fff9fe, #fff2f5, #ffede4, #ffecd2); */
    background-image: url(../assets/hermes-rivera-iAJC7d2YVyI-unsplash.jpg);
    /* height: calc(100vh - 328px); */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

/* header {
    background-image: url(../assets/hermes-rivera-iAJC7d2YVyI-unsplash.jpg);
    height: calc(100vh - 328px);
    background-size: cover;
    background-repeat: no-repeat; 
} */

header {
    height: 70vh;
}

main {
    background-image: linear-gradient(to left bottom, #ffffff, #efeef2, #e0dee5, #d1ced9, #c2becc);
}

li {
    list-style: none;
    /* background-color: white;
    margin: 2rem 1rem;
    box-shadow: 10px 10px 10px black;
    padding: 1rem; */
    border: 1px solid crimson;
}

a {
    /* text-decoration: none; */
    color: rgb(185, 60, 11);
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    border: none;
}

p {
    text-align: center;
    color: #a70c2b;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 2.2rem;
}

button {
    background-color: crimson;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5%;
    margin: 1rem;
    box-shadow: 5px 5px 5px rgb(221, 151, 72);
    cursor: pointer;
    font-family: "PT Sans", sans-serif;
}

button,
i,
a {
    transition: all 0.5s ease;
}

button:hover,
button:focus {
    background-color: #ef476f;
}

a:hover,
a:focus {
    color: rgb(255, 136, 0);
}

img {
    max-width: 100%;
    height: auto;
}

.iconButton {
    font-size: 3rem;
    color: red;
    background-color: transparent;
    box-shadow: none;
}

.iconButton:hover,
.iconButton:focus {
    background-color: transparent;
}

.iconButton:hover i,
.iconButton:focus i {
    transform: scale(1.1);
    color: #ef476f;
}

.navButton {
    position: relative;
    color: crimson;
}

.recipeAmount {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: -0.3rem;
}

h1,
h2 {
    text-align: right;
    font-size: 3.5rem;
    font-family: "Pattaya", sans-serif;
    color: crimson;
    margin-top: 5rem;
}

h1 {
    font-size: 5rem;
    margin-top: 20vh;
}

.h2 {
    box-shadow: none;
    background-color: transparent;
}

/* .savedRecipeContainer {
    width: 100%;
    top: 8rem;
    padding: 2rem 0 4rem;
} */

/* .savedRecipeList {
    text-align: center;
}

.savedRecipeList li:last-child {
    margin-bottom: 0;
}

.recipeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.recipeList a {
    margin: 1rem 0;
} */

/* .recipeList button {
    position: absolute;
    top: 0;
    right: 0;
} */

h3,
caption {
    margin: 1rem 0;
    font-size: 3rem;
    text-align: center;
    color: crimson;
    font-family: "Pattaya", sans-serif;
    padding: 1rem;
}

.recipeList {
    width: 80%;
    margin: 20px auto;
}

/* search form style */

.formContainer {
    height: calc(30vh - 37px);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.searchForm {
    justify-content: flex-end;
    padding: 0;
}

input {
    width: 30%;
    border: solid 2px crimson;
    height: 40px;
}

/* select styling */
select {
    margin: 2rem;
    background-color: white;
}

select,
li,
a,
button,
input {
    font-size: 2rem;
}

input,
select,
footer,
p,
li,
option {
    font-family: "PT Sans", sans-serif;
}

/* results styling */
.recipeHeading {
    font-size: 3rem;
    margin: 2rem 0;
    padding: 1rem;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(223, 186, 145);
    font-family: "Caveat", cursive;
    font-weight: 500;
    color: #a70c2b;
}

.recipeContainer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.recipeListItem {
    width: 400px;
    padding: 1rem;
    border: 1px solid crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    position: relative;
}

.recipeListItem a {
    margin: 1rem 0;
}

.saveControlButton {
    position: absolute;
    top: -1rem;
    right: -1rem;
    font: 2rem;
}

/* Nutrition fact page */
.tableContainer {
    padding: 2rem 0 4rem;
}

table {
    border-collapse: collapse;
    /* border-spacing: 0rem; */
    border: solid 1px red;
    margin: 0rem auto;
}

tbody {
    border-top: 1rem solid transparent;
}

tr::before {
    height: 4rem;
    display: table-row;
    content: "";
}

td,
th {
    font-size: 2rem;
    padding: 1rem;
}

th {
    text-align: left;
}

th a {
    color: black;
}

td {
    padding: 0 1rem;
}

/* footer styling*/

footer {
    background-color: rgb(189, 189, 202);
}

footer p {
    font-size: 1.8rem;
    padding: 1rem 0;
    color: darkslategray;
    margin: 0;
}

footer a {
    color: darkslategray;
}

/* animation for heading */
@keyframes headingAnimation {
    0% {
        color: crimson;
    }
    25% {
        color: #ff4d6d;
    }
    35% {
        color: #ffb3c1;
    }
    50% {
        color: #ffccd5;
    }
    50% {
        color: #ff8fa3;
    }
    75% {
        color: #ff4d6d;
    }
    100% {
        color: crimson;
    }
}

.headingFade {
    animation: headingAnimation 1s linear infinite;
}
/* 


/* media queries */
@media (max-width: 980px) {
    input {
        width: 50%;
    }
}

@media (max-width: 587px) {
    .searchForm {
        justify-content: center;
    }
    input {
        width: 80%;
    }

    h1,
    h2 {
        text-align: center;
    }

    footer p {
        font-size: 1.5rem;
    }
    footer a {
        font-size: 1.5rem;
    }
}
